body {
    text-align: center;
    width: 90%;
    margin: 10%;
}
img {
    width: 351px;
    height: 113px;
    justify-content: center;
}

table {
    width: 90%;
    margin: 0 auto;
}

table #row-1 {
    background-color: #EEEEEE;
}

#search-bar {
    width: 40%;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

td {
    text-align: center;
    padding: 0;
    margin: 0;
}